/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}

ul {
    list-style-type: none;
}

li,
button,
label,
input,
p {
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

h4,
h5 {
    font-size: 2rem;
}

/* Header */

nav {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-left{
    display: flex;
    justify-content: flex-start;
    flex: 1 1 40rem;
}

.top-right{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 40rem;
}

/* Search */
