/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}

ul {
    list-style-type: none;
}

li,
button,
label,
input,
p {
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

h4,
h5 {
    font-size: 2rem;
}

/* Header */

.nav-top{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}

.top-left-style{
    display: flex;
    justify-content: flex-start;
    flex: 1 1 20rem;
}

.top-right-style{
    flex: 1 1 20rem;
    display: flex;
    justify-content: flex-end;
}

.nav-top-right{
    list-style-type: none;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    align-items: center;
}

.nav-top-left{
    list-style-type: none;
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    align-items: center;
}

.sign-btn {
    color: white;
    border: none;
    border-radius: 0.3rem;
    width: 10rem;
    height: 4rem;
    background: #1873e7;
    
}

/* Search */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-input {
    margin: 2rem;
    width: 45rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: .1rem solid grey;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.submit-btn {
    height: 4rem;
    width: 15rem;
    border: none;
    color: #3c4043;
    background-color: #f7f9fa;
}

.submit-btn1{
    margin: 2rem;
}

/* Footer */

.nav-bottom{
    background-color: #f0f1f0;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-left-style{
    display: flex;
    justify-content: flex-start;
    flex: 1 1 20rem;
}

.bottom-right-style{
    flex: 1 1 20rem;
    display: flex;
    justify-content: flex-end;
}

.nav-bottom-right{
    list-style-type: none;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bottom-right li a{
    color: #6e7377;
}

.nav-bottom-left{
    list-style-type: none;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bottom-left li a{
    color: #6e7377;
}